# update systemd module to run with this config
# /usr/bin/logid -c $XDG_CONFIG_HOME/logiops/logid.cfg
devices: ({
    name: "MX Master 3S For Mac";
    smartshift: { on: true; threshold: 20; };
    hiresscroll: { hires: true; invert: false; target: false; };
    dpi: 1000;
    thumbwheel: {
        divert: true;
        left: { mode: "OnInterval"; interval: 2; action: { type: "Keypress"; keys: ["KEY_VOLUMEDOWN"]; }; };
        right: { mode: "OnInterval"; interval: 2; action: { type: "Keypress"; keys: ["KEY_VOLUMEUP"]; }; };
    };
});
